@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&family=Satisfy&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: #000000;
  --black-placeholder: #403f4c;
  --white: #ffffff;
  --dark-shadeblue: #1c1c44;
  --medium-shadeblue: #33337c;
  --light-shadeblue: #4a4ab3;
  --dark-tintblue: #5757ba;
  --medium-tintblue: #9c9cd6;
  --light-tintblue: #e2e2f3;
}
body {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
  color: var(--white);
  font-size: 40px;
}

/* Side Navigation Menu Style */
.side-nav {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: var(--dark-shadeblue);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* The navigation menu links */
.side-nav a {
  width: 100%;
  color: var(--light-tintblue);
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

.side-nav a:hover {
  background-color: var(--light-tintblue);
  color: var(--dark-shadeblue);
  border-radius: 20px;
  width: 25vb;
}
.side-nav .closebtn {
  width: 50px;
  position: absolute;
  top: 0;
  right: 1px;
  font-size: 36px;
  margin-left: 100px;
  color: var(--white);
}

/* Optional: Add this if you want a fade-in effect on the side-nav */
#side-nav-wrapper {
  transition: 0.5s; /* Fades in the side-nav */
}
.side-menu-icon {
  color: var(--light-tintblue);
  display: none;
}

#container {
  background-color: var(--dark-shadeblue);
  margin: auto;
  text-align: center;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 6fr 2fr;
  font-family: "Lato", sans-serif;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  box-sizing: border-box;
  position: fixed;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

#shoplogo img {
  width: 150px;
}

#collection {
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#collection a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}

#search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.search {
  padding: 6px 6px;
  color: var(--dark-shadeblue);
  min-width: 50px;
  text-align: center;
  position: absolute;
  top: 25px;
}
.search:hover {
  background-color: var(--medium-tintblue);
  color: var(--light-tintblue);
  border-radius: 20px;
}

#input {
  width: 90%;
  height: 3.2em;
  padding: 2px 0px;
  font-size: 16px;
  color: var(--black);
  border: none;
  border-radius: 30px;
  /* background-image: linear-gradient(
    to right,
    var(--dark-tintblue) 0%,
    var(--light-tintblue) 100%
  ); */
}
#input::placeholder {
  font-weight: 500;
  color: var(--black-placeholder);
}
#input:focus {
  border: none;
  outline: 2px solid var(--light-tintblue);
}

#user {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  height: 40px;
}
#user a {
  color: var(--white);
  /* width: 20%; */
  padding: 2px 6px;
  font-size: 18px;
  display: flex;
  text-decoration: none;
  text-align: center;
  height: auto;
  align-items: center;
  justify-content: center;
  line-height: 2;
}
#user a:hover {
  background-color: var(--light-tintblue);
  color: var(--dark-shadeblue);
  border-radius: 20px;
}

.side-nav a:active,
#user a:active {
  border: 4px solid var(--medium-shadeblue);
  border-radius: 20px;
}

#user a span {
  line-height: 1;
}
#user a span:hover {
  line-height: 1;
  color: var(--dark-shadeblue);
}

.userIcon {
  font-size: 45px;
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media (max-width: 1300px) {
  #collection {
    font-size: 13px;
  }
  /* #input {
    width: 25em;
  } */
}
@media (max-width: 1212px) {
  #collection {
    font-size: 13px;
  }
  #input {
    width: 20em;
  }
  .addedToCart {
    font-size: 1.5em;
    margin: 10px 20px;
  }
}

@media (max-width: 1090px) {
  #container {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
  }
  #search {
    display: none;
  }
}
@media (max-width: 750px) {
  #shopName {
    font-size: 28px;
  }
  #collection {
    font-size: 12px;
  }
  .userIcon {
    font-size: 35px;
  }
  .addedToCart {
    font-size: 1.2em;
    margin: 10px 20px;
  }
}

@media (max-width: 650px) {
  #shopName {
    font-size: 24px;
  }
  #collection {
    font-size: 10px;
  }
  .userIcon {
    font-size: 30px;
  }
}
@media (max-width: 530px) {
  #shoplogo {
    width: 90px;
  }
  #car-icon {
    position: absolute;
  }
  #container {
    padding: 20px 5px;
  }
  .side-menu-icon {
    display: block;
  }
  #user a {
    display: none;
  }
  #user {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 40px;
  }

  #user #car-icon {
    display: block;
    padding-bottom: 0px;
  }
}

/* badge media */

@media (max-width: 1480px) {
  #badge {
    right: 150px;
  }
}
@media (max-width: 1426px) {
  #badge {
    right: 142px;
  }
}
@media (max-width: 1360px) {
  #badge {
    right: 136px;
  }
}
@media (max-width: 1320px) {
  #badge {
    right: 129px;
  }
}
@media (max-width: 1259px) {
  #badge {
    right: 119px;
  }
}
@media (max-width: 1212px) {
  #badge {
    right: 96px;
  }
}
@media (max-width: 1155px) {
  #badge {
    right: 87px;
  }
}
@media (max-width: 1090px) {
  #badge {
    right: 119px;
  }
}
@media (max-width: 1030px) {
  #badge {
    right: 109px;
  }
}
@media (max-width: 970px) {
  #badge {
    right: 100px;
  }
}
@media (max-width: 910px) {
  #badge {
    right: 94px;
  }
}
@media (max-width: 850px) {
  #badge {
    right: 87px;
  }
}
@media (max-width: 750px) {
  #badge {
    right: 87px;
    padding: 3px 6px;
    font-size: 12px;
    top: 12px;
  }
}
@media (max-width: 650px) {
  #badge {
    right: 78px;
  }
}
@media (max-width: 550px) {
  #badge {
    right: 62px;
    top: 18px;
  }
}
